/* Navbar */
.navbar-lewagon {
  justify-content: space-between;
  background: #1F2937;
}

.nav-link {
  color: #E5E7EB;
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  width: 40px;
  color: #E5E7EB
}
/* ============================================= */

/* Banner */

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  /* display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px; */
}

/* .banner-text {
  grid-column-start: 1;
  grid-column-end: 2;
} */

.banner h1 {
  margin: 0;
  color: #f9faf8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bolder;
}

.banner p {
  font-size: 18px;
  color: #E5E7EB;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* .banner img {
  width: 50%;
  height: 50%;
} */
/* ============================================= */

/* Footer */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-copyright {
  text-align: center;
}
/* ============================================= */
